.head {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(233, 233, 233);
  z-index: 100;
}
.left {
  align-items: center;
  display: flex;
}
.middle {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.right {
  width: 200.5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;
}
