.upload {
  height: 24px;
}
.apps {
  height: 24px;
}
.notifications {
  height: 24px;
}
.userpicture {
  height: 31px;
  border-radius: 17px;
  width: 31px;
  
}
.notificationcontainer{
  position: relative;
}

.notificationcount{
  position: absolute;
  top: -2px;
  right: -3px;
  background-color: #cc0000;
  color: white;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 50px;
}
.uploadcontainer,
.appscontainer,
.notificationcontainer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uploadcontainer .tooltip,
.appscontainer .tooltip,
.notificationcontainer .tooltip{

  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
  white-space: nowrap;
}
.uploadcontainer:hover .tooltip,
.appscontainer:hover .tooltip
.notificationcontainer:hover .tooltip{
  opacity: 1;
}
